body{
    background-color: black;
}
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(0);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(0);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.filmImgs{
    max-width: 100%;
    height: 300px;
}
.cardHeights{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 100%;
    justify-content: center;
}

.carusellWidth{
    width: 95%;
}

.hauptuberschrift{
    color: red;
    margin-top: 20px;
    margin-left: 20px;
}

.headerContainer{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    height: 95px;
    background-color: black;
    z-index: 99;
    border-bottom: 1px solid #191919;
}

.header{
    height: 90px;
}

.headerLinks{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.headerBreadcrumb{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.imgAbstand{
    flex: 0 0 auto;
    width: 14.28%;
}
.arrowContainer{
    width: 50px;
}

.arrowContainer:hover{
    background-color: #dee2e614!important;
}

.arrowNext{
    right: -10px;
}

.arrowPrev{
    left: -10px;
}