.filmImages {
    object-fit: cover;
    width: 99%;
}

body {
    background: rgb(20, 20, 20);
    margin: 0;
}

* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.bodyPadding {
    padding: 0 15px 15px 15px; /*0 on Top*/
}

.listdiv {
    margin-bottom: 30px;
}

.hauptuberschrift {
    color: red;
    margin-top: 25px;
    margin-left: 20px;
}

.swipeButtonColor {
    color: white;
}

.headerContainer {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    height: 95px;
    background: rgb(20, 20, 20);
    z-index: 99;
    border-bottom: 1px solid #191919;
}

.header {
    height: 90px;
    margin-bottom: 20px;
}

.headerLinks {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.headerBreadcrumb {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.showDetails {
    position: absolute;
    padding: 3%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    width: auto;
    height: auto;
    font-size: 14px;
}

.filmname {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.regisseurJahrDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.regisseur {
    margin-right: 25px;
}

.selectedMovie {
    margin-left: 20px;
}

.showDetailsBtn{
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #840808;
    border-radius: 5px;
    margin-top: 5px;
    height: 30px;
}

.showDetailsBtn:hover{
    background-color: #d20e0e4f;
}

.cursor{
    cursor: pointer;
}

.moreInfoDiv{
    margin-top: 25px;
}
.infoImg{
    margin-right: 25px;
}

.infoImg img{
    height: 250px;
}

ul{
    padding-left: 15px;
}
.backButton{
    padding: 2px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #840808;
    border-radius: 5px;
    margin-top: 15px;
    height: 50px;
}

.backButton:hover{
    background-color: #d20e0e4f;
}

.detailsFlex{
    display: flex;
}

.marginTop0{
    margin-top: 0;
}

.swiperNext{
    height: 100%;
    width: 50px;
    top: 20px;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
}

.swiperPref{
    height: 100%;
    width: 50px;
    top: 20px;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}

.swiperPref:hover{
    background: rgba(0, 0, 0, 0.3);
}

.swiperNext:hover{
    background: rgba(0, 0, 0, 0.3);
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(20, 20, 20);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d20e0e4f;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #840808;
}