.filmImages{
    object-fit: cover;
    width: 100%;
}

body{
    background-color: black;
    margin: 0;
}
*{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.bodyPadding{
    padding: 15px;
}
.listdiv{
    margin-bottom: 30px;
}

.hauptuberschrift{
    color: red;
    margin-top: 25px;
    margin-left: 20px;
}

.swipeButtonColor{
    color: white;
}

.headerContainer{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    height: 95px;
    background-color: black;
    z-index: 99;
    border-bottom: 1px solid #191919;
}

.header{
    height: 90px;
    margin-bottom: 20px;
}

.headerLinks{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.headerBreadcrumb{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.showDetailsBtn{
    color: white;
    background-color: grey;
    border-radius: 5px;
    margin-top: 15px;
}
.showDetails{
    position: absolute;
    padding: 5%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.427);
    width: 100%;
    height: 100%;
}

.filmname{
    font-size: 19px;
    margin-bottom: 15px;
    font-weight: bold;
}
.regissuerJahrDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.regissuer{
    margin-right: 25px;
}